.container {
    padding-bottom: 50px;
}

.title {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.boxBody {
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}

.boxAmount {
    font-weight: bolder;
    font-size: larger;
}
.amount {
    color: #61827E;
}

.rightCol {
    display: flex;
    justify-content: flex-end;
}

.addButton {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    align-items: center;
    color: #61827E;
    background-color: white;
    border: 1px solid #61827E;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    transition: 00.5s;
}
.addButton:hover {
    background-color: #61827E;
    color: white;
}